<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>nation</key>
            <string>USD</string>
            <key>rate</key>
            <real>35.437</real>
        </dict>
        <dict>
            <key>nation</key>
            <string>EUR</string>
            <key>rate</key>
            <real>40.339</real>
        </dict>
        <dict>
            <key>nation</key>
            <string>JPY</string>
            <key>rate</key>
            <real>0.299</real>
        </dict>
        <dict>
            <key>nation</key>
            <string>TWD</string>
            <key>rate</key>
            <real>1.109</real>
        </dict>
        <dict>
            <key>nation</key>
            <string>HKB</string>
            <key>rate</key>
            <real>4.596</real>
        </dict>
        <dict>
            <key>nation</key>
            <string>GBP</string>
            <key>rate</key>
            <real>55.009</real>
        </dict>
        <dict>
            <key>nation</key>
            <string>AUD</string>
            <key>rate</key>
            <real>26.161</real>
        </dict>
        <dict>
            <key>nation</key>
            <string>CNY</string>
            <key>rate</key>
            <real>5.622</real>
        </dict>
        <dict>
            <key>nation</key>
            <string>SGD</string>
            <key>rate</key>
            <real>25.806</real>
        </dict>
        <dict>
            <key>nation</key>
            <string>CAD</string>
            <key>rate</key>
            <real>27.151</real>
        </dict>
        <dict>
            <key>nation</key>
            <string>KRW</string>
            <key>rate</key>
            <real>0.032</real>
        </dict>
        <dict>
            <key>nation</key>
            <string>CHF</string>
            <key>rate</key>
            <real>37.437</real>
        </dict>
        <dict>
            <key>nation</key>
            <string>RUB</string>
            <key>rate</key>
            <real>0.577</real>
        </dict>
        <dict>
            <key>nation</key>
            <string>MYR</string>
            <key>rate</key>
            <real>8.651</real>
        </dict>
    </array>
</plist>
