<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultCurrency</key>
	<string>THB</string>
	<key>keyboardHeight</key>
	<integer>167</integer>
	<key>navigationBarColor</key>
	<string>#006ECC</string>
	<key>navigationBarImgName</key>
	<string>KP_Logo_Title_Bar.png</string>
	<key>navigationBarImgPositionX</key>
	<integer>442</integer>
	<key>navigationBarImgPositionY</key>
	<integer>25</integer>
	<key>navigationBarImgWidth</key>
	<integer>65</integer>
	<key>navigationBarImgHeight</key>
	<integer>65</integer>
	<key>navigationItemBackImgName</key>
	<string>btnBack.png</string>
	<key>navigationItemBackImgPositionX</key>
	<integer>5</integer>
	<key>navigationItemBackImgPositionY</key>
	<integer>30</integer>
	<key>navigationItemBackImgWidth</key>
	<integer>36</integer>
	<key>navigationItemBackImgHeight</key>
	<integer>36</integer>
	<key>navigationItemSignoutImgName</key>
	<string>btnLogOut.png</string>
	<key>navigationItemSignoutImgPositionX</key>
	<real>970</real>
	<key>navigationItemSignoutImgPositionY</key>
	<integer>30</integer>
	<key>navigationItemSignoutImgWidth</key>
	<integer>30</integer>
	<key>navigationItemSignoutImgHeight</key>
	<integer>30</integer>
	<key>navigationItemHamburgerImgName</key>
	<string>Burger.png</string>
	<key>navigationItemHamburgerImgPositionX</key>
	<integer>0</integer>
	<key>navigationItemHamburgerImgPositionY</key>
	<integer>0</integer>
	<key>navigationItemHamburgerImgWidth</key>
	<integer>36</integer>
	<key>navigationItemHamburgerImgHeight</key>
	<integer>36</integer>
	<key>navigationItemAirplainImgName</key>
	<string>Flight-WH80x80.png</string>
	<key>navigationItemAirplainImgPositionX</key>
	<integer>0</integer>
	<key>navigationItemAirplainImgPositionY</key>
	<integer>0</integer>
	<key>navigationItemAirplainImgWidth</key>
	<integer>36</integer>
	<key>navigationItemAirplainImgHeight</key>
	<integer>36</integer>
	<key>navigationItemCallImgName</key>
	<string>Call-icon.png</string>
	<key>navigationItemCallImgPositionX</key>
	<integer>0</integer>
	<key>navigationItemCallImgPositionY</key>
	<integer>0</integer>
	<key>navigationItemCallImgWidth</key>
	<integer>36</integer>
	<key>navigationItemCallImgHeight</key>
	<integer>36</integer>
	<key>navigationItemCartImgName</key>
	<string>Cart-icon.png</string>
	<key>navigationItemCartImgPositionX</key>
	<integer>0</integer>
	<key>navigationItemCartImgPositionY</key>
	<integer>0</integer>
	<key>navigationItemCartImgWidth</key>
	<integer>36</integer>
	<key>navigationItemCartImgHeight</key>
	<integer>36</integer>
	<key>navigationItemSearchImgName</key>
	<string>Search-icon.png</string>
	<key>navigationItemSearchImgPositionX</key>
	<integer>0</integer>
	<key>navigationItemSearchImgPositionY</key>
	<integer>0</integer>
	<key>navigationItemSearchImgWidth</key>
	<integer>36</integer>
	<key>navigationItemSearchImgHeight</key>
	<integer>36</integer>
	<key>sectionHeaderColor</key>
	<string>#0081AF</string>
	<key>borderCollectionColor</key>
	<string>#E5E5E5</string>
	<key>whiteColor</key>
	<string>#F5F5F5</string>
	<key>messageAuthenFailTitle</key>
	<string>Authentication Fail</string>
	<key>messageAuthenRequiredField</key>
	<string>Username/Password is required.</string>
	<key>messageAuthenFail</key>
	<string>Username/Password is incorrect.</string>
	<key>messageCardReaderInputMethodTitle</key>
	<string>Card Reader Method</string>
	<key>messageCameraInputMethodTitle</key>
	<string>Camera Method</string>
	<key>messageScanBoardingPassTitle</key>
	<string>Scan Boarding Pass</string>
	<key>messageUnderImplementation</key>
	<string>Under Implementation.</string>
	<key>messageMemberValidationFailTitle</key>
	<string>Member Validation Fail</string>
	<key>messageMemberRequiredField</key>
	<string>Member ID is required.</string>
	<key>messageMemberNotFound</key>
	<string>Member ID is not found.</string>
	<key>messageFlightFailTitle</key>
	<string>Flight Information Fail</string>
	<key>messageFlightRequiredField</key>
	<string>Some of Depart Flight Information is missing.</string>
	<key>messageReturnRequiredField</key>
	<string>Some of Return Flight Information is missing.</string>
	<key>flagYes</key>
	<string>Y</string>
	<key>flagNo</key>
	<string>N</string>
	<key>genderMen</key>
	<string>MEN</string>
	<key>genderWomen</key>
	<string>WOMEN</string>
	<key>genderUnisex</key>
	<string>UNISEX</string>
	<key>productGroupFashion</key>
	<integer>1</integer>
	<key>productGroupBeauty</key>
	<integer>2</integer>
	<key>productGroupElectronics</key>
	<integer>3</integer>
	<key>productGroupFood</key>
	<integer>4</integer>
	<key>productGroupLiquor</key>
	<integer>5</integer>
	<key>currentUserId</key>
	<string>CURRENTUSERID</string>
	<key>currentCustomerId</key>
	<string>CURRENTCUSTOMERID</string>
	<key>currentAmountInCart</key>
	<string>CURRENTAMOUNTINCART</string>
	<key>locationSuvarnabhumiAirport</key>
	<string>Suvarnabhumi Airport</string>
	<key>promotionImgTimer</key>
	<integer>4</integer>
</dict>
</plist>
